

<h2>Create Clothing</h2>
    <form action="/admin/create_clothing" method="POST" enctype="multipart/form-data">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <label for="price">Price:</label>
        <input type="text" id="price" name="price" required>
        <br>
        <label for="sex">Sex:</label>
        <input type="text" id="sex" name="sex" required>
        <br>
        <label for="collection">Collection:</label>
        <input type="text" id="collection" name="collection" required>
        <br>
        <label for="clothing_category_id">Category:</label>
        <select id="clothing_category_id" name="clothing_category_id">
            <% data.forEach(category => { %>
                <option value="<%= category.category_id %>"><%= category.category_name %></option>
            <% }); %>
        </select>
        <br>
        <label for="image1">Image 1:</label>
        <input type="file" id="image1" name="image1" required>
        <br>
        <label for="image2">Image 2:</label>
        <input type="file" id="image2" name="image2" required>
        <br>
        <label for="image3">Image 3:</label>
        <input type="file" id="image3" name="image3" required>
        <br>
        <label for="image4">Image 4:</label>
        <input type="file" id="image4" name="image4" required>
        <br>
        <button type="submit">Create Clothing</button>
    </form>

