<h2>Category Modification</h2>

<form class="admin_form" action="/admin/category/editCategory/<%= category.category_id %>" enctype="multipart/form-data" method="post">
	<input type="hidden" name="category_id" value="<%= category.category_id %>" />
	<p>
		<label for="category_name">Category name</label>
		<input id="category_name" type="text" name="category_name" required>
	</p>
	<p>
		<label for="category_content">Category description</label>
		<textarea id="category_content" name="category_content" rows="7" cols="40" required></textarea>
	</p>
    <p>
        <label for="category_image">Category image</label>
        <input id="category_image" type="file" name="category_image">
    </p>
	
	<p><input type="submit" name="Enregistrer"></p>
</form>