<h2>Category Modification</h2>

<form class="admin_form" action="/admin/category/editCategory/<%= category.id %>" enctype="multipart/form-data" method="post">
	<input type="hidden" name="id" value="<%= category.id %>" />
	<p>
		<label for="name">Category name</label>
		<input id="name" type="text" name="name" required>
	</p>
	<p>
		<label for="content">Category description</label>
		<textarea id="content" name="content" rows="7" cols="40" required></textarea>
	</p>
    <p>
        <label for="image">Category image</label>
        <input id="image" type="file" name="image">
    </p>
	
	<p><input type="submit" name="Enregistrer"></p>
</form>