<h2>Sign-in</h2>

<form class="admin_form" action="/register" method="post">
	<p>
		<label for="email">Email</label>
		<input type="email" id="email" name="email" required>
	</p>
	<p>
		<label for="firstname">firstname</label> 
		<input type="text" id="firstname" name="firstname" required>
	</p>
    <p>
		<label for="lastname">lastname</label> 
		<input type="text" id="lastname" name="lastname" required>
	</p>

	<p>
		<label for="password">password</label>
		<input type="password" id="password" name="password" required>
	</p>

	<p><input type="submit" value="S'inscrire"></p>
	
</form>